.nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: #042041cc;
    color: #fff;
    padding: 0 3rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba($color: #000000, $alpha: 0.5);

    &__logo {
        font-size: 3rem;
    }
    &__links {
        display: flex;
        &--link {
            margin-right: 3rem;

            &:last-child {
                margin-right: 5rem;
            }
            list-style: none;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 2rem;
            }
        }
    }
}
